@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,800;0,900;1,600;1,900&family=Libre+Baskerville:wght@700&family=Roboto:wght@100;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.body{
    background-color: rgb(218, 131, 171);
}




.division{
    background-color:rgb(99, 4, 99);
  height: 20px;
    
    
}


.h1{

   display: flex;
   align-content: center;
   justify-content: center;
   padding: 10px 10px;
   margin-top:10px;

   
}






.formularios{
    display: flex;
    margin:15px;
    padding: 30px 30px;
    box-sizing: border-box;
    display: inline-block;

  



}
.input{
    
border: 1px dotted #999;
border-radius: 0;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 100%;




}
.label{
  display:flex;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size : 100%;
}

.contactoformularios{
    display:flex;
    align-content: center;
    justify-content: center;
    margin: 10px; 
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    
}

.textarea {
    display : block;
    padding : 10px;
    margin  : 10px 0 0 -10px;
    width   : 340px;
    height  : 360px;
  
    resize  : none;
    overflow: auto;
  }
  .label {
    font : .8em "typewriter", sans-serif;
  }
  .input:focus, textarea:focus {
    background   : rgba(0,0,0,.1);
    border-radius: 5px;
    outline      : none;
  }

  

      @media (min-width: 768px){ 
                .responsivemain { 
                    width: 75%;
                    margin-bottom: 4rem;
                    margin-left: 6rem;
                 }
                 .responsivemain2{
                     width: 100% ;
                 }
            }


 
        

                         
          
                 




        


    









