    @import "./parciales/division";
    @import  "./parciales/footer";
    @import "./parciales/header";
    @import "./parciales/reset";
    @import "./parciales/main";
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Martel:wght@800&family=Roboto:ital,wght@1,300&display=swap');
    @import "./parciales/mediaqueries";
    @import "./parciales/vars";
    @import "./parciales/variablesutilitarias";
    @import "./parciales/mixins";
 