@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Martel:wght@800&family=Roboto:ital,wght@1,300&display=swap");
.division {
  width: 100%;
  background-color: #3800bb;
}

.footer {
  opacity: 90%;
  background-color: #dedee2;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  justify-items: center;
  margin: 0.5rem;
}

.footer__item {
  display: inline;
  list-style: none;
  margin: 0.5rem;
  font-size: small;
}

.footer__link {
  color: #555555;
}

.header__nav {
  background: #e7f1ff;
  background: -webkit-gradient(linear, left top, right top, color-stop(36%, #e7f1ff), color-stop(57%, #aad4df), to(#4e8894));
  background: linear-gradient(90deg, #e7f1ff 36%, #aad4df 57%, #4e8894 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7f1ff",endColorstr="#4e8894",GradientType=1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__button--azul {
  background-color: #222cb4;
}

.main__button--verde {
  background-color: #24a756;
}

.main__button--amarillo {
  background-color: #c8be2a;
}

.main__button--gris {
  background-color: #888888;
}

.main {
  background-color: #ed97f0;
}

.main__nav {
  background-color: #dedee2;
  list-style: none;
}

.main__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem;
}

.main__icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  padding: 0.4rem;
  color: #2a2a57;
}

.main .iconolinkeable {
  color: #281757;
}

.main__h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  background-size: 15px;
  background: #f4f4f4;
  background: #f4f4f4;
  background: #f4f4f4;
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #f4f4f4), color-stop(25%, #f9d1f0), color-stop(70%, rgba(255, 110, 254, 0.487833)));
  background: linear-gradient(90deg, #f4f4f4 12%, #f9d1f0 25%, rgba(255, 110, 254, 0.487833) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#ff6efe",GradientType=1);
}

.main__h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #151f27;
  background: #cfd6f9;
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, rgba(207, 214, 249, 0.608281)), color-stop(20%, rgba(192, 198, 233, 0.644695)), color-stop(62%, rgba(60, 60, 115, 0.653099)));
  background: linear-gradient(90deg, rgba(207, 214, 249, 0.608281) 12%, rgba(192, 198, 233, 0.644695) 20%, rgba(60, 60, 115, 0.653099) 62%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfd6f9",endColorstr="#3c3c73",GradientType=1);
}

.main__h3 {
  color: #ddaeae;
  font-weight: bold;
}

.main__h4 {
  color: #ddaeae;
}

.main__carousel {
  padding: 1rem;
}

.main .contenedoritemcarrusel {
  position: relative;
  display: inline-block;
  text-align: center;
}

.main .textocarrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 80%;
  line-height: 2rem;
  opacity: 85%;
  margin: 1rem;
  padding: 0.3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #899dc3;
  color: #ffeaea;
  border-radius: 0.5rem;
  font-style: oblique;
}

.main__section, .main__sectioncitas, .main__sectioncontacto, .main__sectionpagos {
  background-color: #281757;
  margin: 2rem;
  padding: 1rem;
  color: #f6e8e8;
}

.main__labelcitas, .main__labelcontacto, .main__labelpagos {
  color: white;
  font-weight: bolder;
  background-color: #7b8ecc;
  border-radius: 10px;
  border: white 3px groove;
  margin: 0.2rem;
  padding: 0.2rem;
}

.main__input {
  background-color: #cccce2;
}

.main__sectioncontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__labelcontacto {
  background-color: #7b8ecc;
  border-radius: 10px;
  border: white 3px groove;
  margin: 0.2rem;
  padding: 0.2rem;
}

.main__h4contacto, .main__h4pagos {
  font-weight: 700;
  color: #ddaeae;
}

.main__h3contacto {
  font-weight: bold;
  color: #ddaeae;
}

.main .telcontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #281757;
  color: #e3f2fd;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  background-color: #444495;
}

.main .contenedorBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .imagencontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25%;
}

.main__labelpagos {
  background-color: #7b8ecc;
  border-radius: 10px;
  border: white 3px groove;
  margin: 0.2rem;
  padding: 0.2rem;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 1rem;
}

.main__button--azul {
  background-color: #222cb4;
}

.main__button--gris {
  background-color: #888888;
}

.main__button--verde {
  background-color: #24a756;
}

.main__button--amarillo {
  background-color: #c8be2a;
}

.main__fieldset__legend {
  font-family: "Martel", serif;
}

.main__fieldset__legend__h3 {
  font-family: "Roboto", sans-serif;
}

.main__subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .h2terapias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  background: #e0afe0;
}

.main .textoterapia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Libre Baskerville", serif;
  font-size: 1 rem;
}

.main .imagenterapias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 50%;
  border-radius: 100%;
  border-style: groove;
}

.main .contenedorimagenterapias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.main .botonterapia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.main .fraseaboutus {
  font-style: oblique;
  font-size: 1.5rem;
}

.main .imgtcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.main .accordion-button {
  background-color: #9c9ceb;
}

.main .accordion-body {
  font-family: "Libre Baskerville", serif;
  color: black;
  background-color: #dedee2;
}

@media (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0rem;
    width: 100%;
  }
  .main__section, .main__sectioncitas, .main__sectioncontacto, .main__sectionpagos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  .main__fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main__responsive {
    width: 75%;
    margin-bottom: 4rem;
    margin-left: 6rem;
  }
  .main__responsive2 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .footer__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 576px) {
  .header {
    width: 100%;
  }
  .header__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .main__ul {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none;
    padding: 0px;
  }
}

@media (max-width: 320px) {
  .main__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    justify-items: flex-start;
    list-style: none;
    padding: 0px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .textocarrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 1rem;
  }
  .textocarrusel .p {
    font-size: xx-small;
    padding: 2rem;
    margin: 2rem;
    line-height: 0rem;
  }
  .main__nav {
    overflow: hidden;
  }
  .header {
    width: 100%;
  }
  .footer__image {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .footer__item {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .imagenterapias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .main__sectioncontacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__button--azul {
  background-color: #222cb4;
}

.main__button--verde {
  background-color: #24a756;
}

.main__button--amarillo {
  background-color: #c8be2a;
}

.main__button--gris {
  background-color: #888888;
}

.body {
  background-color: #ed97f0;
}
/*# sourceMappingURL=main.css.map */