    @import "./parciales/division";
    @import "./parciales/header";
    @import "./parciales/reset";
    @import "./parciales/main";
    @import "./parciales/footer";
    @import "./parciales/vars";
    @import "./parciales/mediaqueries";
 