@import "./vars";



.footer{

opacity: 90%;
background-color: rgb(222, 222, 226);

 

 
&__ul{
  display: flex;
  display: inline-block;
  justify-items: center;
   margin: 0.5rem;
}
&__item{
  display: inline;
  list-style: none;
  margin: 0.5rem;
  font-size: small;

}
&__link{
  color: rgb(85, 85, 85);

}



}


