@import "./vars";



.footer{
  
  


  padding: 0rem;
  margin: 0rem;
 
          align-items: center;
 
          justify-content: space-between;


&__nav{
  


    padding: 1rem;

}
&__ul{
  display: flex;
  justify-items: center;
  margin: 1rem;
}
&__item{
  display: inline;
  list-style: none;
  margin: 0.8rem;

}
&__link{
  color: rgb(20, 20, 20);

}

}
