@import "./vars";

.footer{

  padding: 0rem;
  margin: 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

&__nav{


    padding: 5rem;
    background-color: transparent;
    &__image{;}
    &__button{;}
    &__ul{
    &__link{;}
    &__item{;}
    }

}
}





  
  