@import "./vars";



.footer{

  padding: 0rem;
  margin: 0rem;
 
          align-items: center;
 
          justify-content: space-between;

&__nav{
    background: rgb(231,241,255);
background: -moz-radial-gradient(circle, rgba(231,241,255,1) 36%, rgba(170,212,223,1) 57%, rgba(78,136,148,1) 100%);
background: -webkit-radial-gradient(circle, rgba(231,241,255,1) 36%, rgba(170,212,223,1) 57%, rgba(78,136,148,1) 100%);
background: radial-gradient(circle, rgba(231,241,255,1) 36%, rgba(170,212,223,1) 57%, rgba(78,136,148,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7f1ff",endColorstr="#4e8894",GradientType=1);


    padding: 1rem;
    background-color: transparent;
  
}
}