@import "./vars";
@import "./variablesutilitarias";
@import "./mixins";

.main{

background-color: $color-secundario;

  &__nav{
    background-color: rgb(222, 222, 226);
    list-style:none;
    
  }
   

   &__iconos{
       display: flex;
    list-style: none;
    align-content: center;
    justify-content: flex-end;
    margin: $margin-especifico;

}
&__icono{
    display: flex;
    display: inline-block;
    padding: 0.4rem;
    color: rgb(42, 42, 87);
    
    
  
  
}
.iconolinkeable{
    color: $color-terciario;
}

   &__h1{ 
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $padding-especifico;
    margin-top: $margin-especifico;
    background-size: 15px;
    background: rgb(244,244,244);
    background: rgb(244,244,244);
    background: rgb(244,244,244);
    background: -moz-linear-gradient(90deg, rgba(244,244,244,1) 12%, rgba(249,209,240,1) 25%, rgba(255,110,254,0.48783263305322133) 70%);
    background: -webkit-linear-gradient(90deg, rgba(244,244,244,1) 12%, rgba(249,209,240,1) 25%, rgba(255,110,254,0.48783263305322133) 70%);
    background: linear-gradient(90deg, rgba(244,244,244,1) 12%, rgba(249,209,240,1) 25%, rgba(255,110,254,0.48783263305322133) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#ff6efe",GradientType=1);
   }
  
  
  
   &__h2{
    font-family: $font-subtitulo;
    font-weight: bold ;
    transform: rotate(360deg);
    color: rgb(21, 31, 39);
    background: rgb(207,214,249);
    background: -moz-linear-gradient(90deg, rgba(207,214,249,0.6082808123249299) 12%, rgba(192,198,233,0.6446953781512605) 20%, rgba(60,60,115,0.6530987394957983) 62%);
    background: -webkit-linear-gradient(90deg, rgba(207,214,249,0.6082808123249299) 12%, rgba(192,198,233,0.6446953781512605) 20%, rgba(60,60,115,0.6530987394957983) 62%);
    background: linear-gradient(90deg, rgba(207,214,249,0.6082808123249299) 12%, rgba(192,198,233,0.6446953781512605) 20%, rgba(60,60,115,0.6530987394957983) 62%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfd6f9",endColorstr="#3c3c73",GradientType=1);

    }
  
    &__h3{
    color: rgb(221, 174, 174);
    font-weight:bold;
   
   }
   
   &__h4{
    color: rgb(221, 174, 174);
   }
   
   &__carousel{ 
    
       padding: $padding-especifico;
    
   }

   .contenedoritemcarrusel{
    position: relative;
    display: inline-block;
    text-align: center;
    
   }
   .textocarrusel{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    line-height: 2rem;
    opacity: 85%;
   margin: 1rem;
   padding: 0.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: $font-subtitulo;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: $color-backgroundtextimg;
    color: rgb(255, 234, 234);
    border-radius: 0.5rem;
    font-style: oblique;

    
    
   }

  

   &__section{
       background-color: $color-terciario;
    margin: $margin-general;
    padding: $padding-especifico;
    color: rgb(246, 232, 232);
 }

   &__sectioncitas {
      
    @extend .main__section;
    
   }
    
    &__labelcitas{
        color: rgb(255, 255, 255);
        font-weight: bolder;
    @include background-label;
        border: map-get($estiloslabels, borde);
        margin: map-get($estiloslabels,  margin);
        padding: map-get($estiloslabels , padding);
    }
    &__h4pagos{
        @extend .main__h4contacto;
      }



      &__input{
          background-color:rgb(204, 204, 226) ;
      }
       

    

    


      
      &__sectioncontacto{
      @extend .main__section;
      display: flex;
    justify-content: center;
   
      
    

      }
      &__labelcontacto{
        @extend .main__labelcitas;
    @include background-label;
    border: map-get($estiloslabels, borde);
    margin: map-get($estiloslabels,  margin);
    padding: map-get($estiloslabels , padding);
    }
        &__h4contacto{
            font-weight:700;
            color: rgb(221, 174, 174);
        }
        &__h3contacto{
            font-weight:bold;
            color: rgb(221, 174, 174);

        }
     
        .telcontacto{

            display: flex;
            
            justify-content: center;
            align-content: center;
            background: $color-terciario;
            color: $color-primario;
            font-family: $font-texto;
            font-size: 1rem;
            background-color: rgb(68, 68, 149);
           
            
           
        }

        .contenedorBotones{
            display: flex;
    
            justify-content: center;
           
        }


    

        .imagencontacto{
            display:flex;
            
            width:100%;
            height:25%;
        
        
        }

      &__sectionpagos{

        @extend .main__section;
      }        
     
      &__labelpagos{
          @extend .main__labelcitas;
          @include background-label;
          border: map-get($estiloslabels, borde);
          margin: map-get($estiloslabels,  margin);
          padding: map-get($estiloslabels , padding);
    
     }
    &__h4pagos{
      @extend .main__h4contacto;
    }
     
 

     
        

   

   &__button{
       display: flex;
       display: inline-block;
       align-content: center;
       margin-top: 1rem;
     
   }  
   
   
 &__button--azul{
     background-color: $azul;
 }
 &__button--gris{
     background-color: $gris;
 }
&__button--verde{
    background-color: $verde;
}
&__button--amarillo{
    background-color: $amarillo
    ;
}


   


        
     

   

   &__fieldset{
   
       &__legend{
           font-family: $font-titulo;
        &__h3{
           font-family: $font-subtitulo;
        }
       }
    }

   &__subcontainer{
       display: flex;
       display: inline-block;
       justify-content: center;
   }

 
   
.h2terapias{
    display: flex;
    justify-content: center;
    font-family: $font-subtitulo;
    font-style: italic;
    background: rgb(224, 175, 224);
}
.textoterapia{
    display: flex;
    justify-content: center;
    font-family: $font-texto;
    font-size: 1 rem;
    
}
.imagenterapias{
    display: flex;
    width: 75%;
    height: 50%;
    border-radius: 100%;
    border-style:groove;
    

}
.contenedorimagenterapias{
    display: flex;
    justify-content: center;
    padding: $padding-especifico;
    
    
}

.botonterapia{
    display: flex;
    justify-content: center;
    width: 50%;
}

.fraseaboutus{
    font-style: oblique;
    font-size: 1.5rem;
}

.imgtcc{
    display:flex;
            
    width:100%;
    height:100%;
   
}

.accordion-button{
    background-color: rgb(156, 156, 235);
} 
.accordion-body{
    font-family: $font-texto;
    color: black;
    background-color: rgb(222, 222, 226);
}



}









   

    



    

 