@import "./vars";
@import "./variablesutilitarias";
@import "./mixins";

.main{

background-color: $color-secundario;
   
   &__h1{ 
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $padding-especifico;
    margin-top: $margin-especifico;
    background-size: 15px;
   }
   &__carousel{ 
    
       padding: $padding-especifico;
   }
   &__section{
       background-color: $color-terciario;
    margin: $margin-general;
    padding: $padding-especifico;

   }

   &__sectioncitas {
      
    @extend .main__section;
    
   }
    
    &__labelcitas{
        color: rgb(255, 255, 255);
        font-weight: bolder;
    @include background-label;
        border: map-get($estiloslabels, borde);
        margin: map-get($estiloslabels,  margin);
        padding: map-get($estiloslabels , padding);
    }
    &__h4pagos{
        @extend .main__h4contacto;
      }
       

    

    


      
      &__sectioncontacto{
      @extend .main__section;
    

      }
      &__labelcontacto{
        @extend .main__labelcitas;
    @include background-label;
    border: map-get($estiloslabels, borde);
    margin: map-get($estiloslabels,  margin);
    padding: map-get($estiloslabels , padding);
    }
        &__h4contacto{
            font-weight:700;
            color: rgb(0, 0, 0);
        }
        &__h3contacto{
            font-weight:bold;
            color: rgb(0, 0, 0);

        }
        .telcontacto{
            background: white;
        }

      &__sectionpagos{

        @extend .main__section;
      }        
     
      &__labelpagos{
          @extend .main__labelcitas;
          @include background-label;
          border: map-get($estiloslabels, borde);
          margin: map-get($estiloslabels,  margin);
          padding: map-get($estiloslabels , padding);
    
     }
    &__h4pagos{
      @extend .main__h4contacto;
    }
     
 

           &__h2{
         font-family: $font-subtitulo;
         font-weight: bold ;
         transform: rotate(360deg);
           
        
        
           }
        
    &__nav{
      
      
    }
    &__article{}

   

   &__button{
       display: inline-block;
       background-color: rgb(51, 51, 233);  
   }  
 &__button--azul{
     background-color: $azul;
 }
 &__button--gris{
     background-color: $gris;
 }
&__button--verde{
    background-color: $verde;
}
&__button--amarillo{
    background-color: $amarillo
    ;
}


   


        
     

   

   &__fieldset{
       &__legend{
           font-family: $font-titulo;
        &__h3{
           font-family: $font-subtitulo;
        }
       }
       &__formulario{

           &__label{}
           &__input{}
           &__h4{}
           &__textarea{}
           &__checkbox{}
       }
      

   }
   &__container{ 

   }
   &__subcontainer{
       display: flex;
       display: inline-block;
       justify-content: center;
      
       
   }
}

    





    
        
