@import "./vars";

.main{

background-color: $color-secundario;
   
   &__h1{ 
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $padding-especifico;
    margin-top: $margin-especifico;
    background-size: 15px;
   }
   &__carousel{ 
    
       padding: $padding-especifico;
   }

   &__section {
       background-color: $color-terciario;
       margin: $margin-general;
       padding: $padding-especifico;
       

        }

           &__h2{
         font-family: $font-subtitulo;
         font-weight: bold ;
         transform: rotate(360deg);
           
        
        
           }
        
    &__nav{
      
    }
    &__article{}

   

   &__button{
       display: inline-block;
       background-color: rgb(51, 51, 233);  
   }  


        
     

   

   &__fieldset{
       &__legend{
           font-family: $font-titulo;
        &__h3{
           font-family: $font-subtitulo;
        }
       }
       &__formulario{

           &__label{}
           &__input{}
           &__h4{}
           &__textarea{}
           &__checkbox{}
       }
      

   }
   &__container{ 

   }
   &__subcontainer{
       display: flex;
       display: inline-block;
       justify-content: center;
      
       
   }
}

    





    
        
