@import "./vars";
@import "./variablesutilitarias";
@import "./mixins";

.main{

background-color: $color-secundario;
   

   &__iconos{
       display: flex;
    list-style: none;
    align-content: center;
    justify-content: flex-end;
    margin: $margin-especifico;

}
&__icono{
    display: flex;
    display: inline-block;
    padding: 0.4rem;
    color: rgb(42, 42, 87);
    
    
  
  
}
.iconolinkeable{
    color: $color-terciario;
}

   &__h1{ 
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $padding-especifico;
    margin-top: $margin-especifico;
    background-size: 15px;
   }
   &__h3{
    color: rgb(221, 174, 174);
   }
   &__h4{
    color: rgb(221, 174, 174);
   }
   &__carousel{ 
    
       padding: $padding-especifico;
    
   }

   .contenedoritemcarrusel{
    position: relative;
    display: inline-block;
    text-align: center;
    
   }
   .textocarrusel{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    line-height: 2rem;
    opacity: 85%;
   margin: 1rem;
   padding: 0.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: $font-subtitulo;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: $color-backgroundtextimg;
    color: rgb(255, 234, 234);
    border-radius: 0.5rem;
    font-style: oblique;

    
    
   }

  

   &__section{
       background-color: $color-terciario;
    margin: $margin-general;
    padding: $padding-especifico;
    color: rgb(246, 232, 232);
 }

   &__sectioncitas {
      
    @extend .main__section;
    
   }
    
    &__labelcitas{
        color: rgb(255, 255, 255);
        font-weight: bolder;
    @include background-label;
        border: map-get($estiloslabels, borde);
        margin: map-get($estiloslabels,  margin);
        padding: map-get($estiloslabels , padding);
    }
    &__h4pagos{
        @extend .main__h4contacto;
      }
       

    

    


      
      &__sectioncontacto{
      @extend .main__section;
      display: flex;
    justify-content: center;
   
      
    

      }
      &__labelcontacto{
        @extend .main__labelcitas;
    @include background-label;
    border: map-get($estiloslabels, borde);
    margin: map-get($estiloslabels,  margin);
    padding: map-get($estiloslabels , padding);
    }
        &__h4contacto{
            font-weight:700;
            color: rgb(221, 174, 174);
        }
        &__h3contacto{
            font-weight:bold;
            color: rgb(221, 174, 174);

        }
        .telcontacto{

            display: flex;
            justify-content: center;
            align-content: center;
            background: $color-terciario;
            color: $color-primario;
            font-family: $font-texto;
            font-size: 1rem;
           
            
           
        }


    

        .imagencontacto{
            display:flex;
            
            width:100%;
            height:25%;
        
        
        }

      &__sectionpagos{

        @extend .main__section;
      }        
     
      &__labelpagos{
          @extend .main__labelcitas;
          @include background-label;
          border: map-get($estiloslabels, borde);
          margin: map-get($estiloslabels,  margin);
          padding: map-get($estiloslabels , padding);
    
     }
    &__h4pagos{
      @extend .main__h4contacto;
    }
     
 

           &__h2{
         font-family: $font-subtitulo;
         font-weight: bold ;
         transform: rotate(360deg);
         color: rgb(34, 112, 202);
           
        
        
           }
        

   

   &__button{
       display: flex;
       display: inline-block;
       align-content: center;
       margin-top: 1rem;
     
   }  
   
   
 &__button--azul{
     background-color: $azul;
 }
 &__button--gris{
     background-color: $gris;
 }
&__button--verde{
    background-color: $verde;
}
&__button--amarillo{
    background-color: $amarillo
    ;
}


   


        
     

   

   &__fieldset{
   
       &__legend{
           font-family: $font-titulo;
        &__h3{
           font-family: $font-subtitulo;
        }
       }
    }
   &__container{ 

   }
   &__subcontainer{
       display: flex;
       display: inline-block;
       justify-content: center;
   }

 
   
.h2terapias{
    display: flex;
    justify-content: center;
    font-family: $font-subtitulo;
    font-style: italic;
    background: rgb(224, 175, 224);
}
.textoterapias{
    display: flex;
    justify-content: center;
    font-family: $font-texto;
    
}
.imagenterapias{
    display: flex;
    width: 75%;
    height: 50%;
    border-radius: 100%;
    border-style:groove;
    

}
.contenedorimagenterapias{
    display: flex;
    justify-content: center;
    padding: $padding-especifico;
    
    
}

.botonterapia{
    display: flex;
    justify-content: center;
    width: 50%;
}

.fraseaboutus{
    font-style: oblique;
    font-size: 1.5rem;
}

.imgtcc{
    display:flex;
            
    width:100%;
    height:100%;
   
}
.accordion-body{
    font-family: $font-texto;
    color: black;
}


}









   

    



    

 