@import "./vars";

.main{

background-color: $color-secundario;
   
   &__h1{ 
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $padding-especifico;
    margin-top: $margin-especifico;
    background-size: 15px;
   }
   &__carousel{ 
    
       padding: $padding-especifico;
   }

   &__section {
       background-color: $color-terciario;
       margin: $margin-general;
       padding: $padding-especifico;
       
   
       &__responsive{
           @media (min-width: 768px) {
          width: 75%;
          margin-bottom: 4rem;
          margin-left: 6rem;
           }
        }

           &__h2{
            font-family: $font-subtitulo;
        
           }
        
    &__nav{
      
    }
    &__article{}
    &__responsive2{
        width: 100%;
        &__parrafo{
            font-family:$font-texto;
        }
    }
   }

   &__button{}

   &__fieldset{
       &__legend{
           font-family: $font-titulo;
        &__h3{
           font-family: $font-subtitulo;
        }
       }
       &__formulario{

           &__label{}
           &__input{}
           &__h4{}
           &__textarea{}
           &__checkbox{}
       }
      

   }
   &__container{ 

   }
   &__subcontainer{
    
   }





}


    





    
        




     
      
   
