@import "./vars";

@media (min-width: 768px){ 
  
  .main{
    display: flex;
    display: inline-block;
    justify-content: center;
    margin: 0rem;
    width: 100%;
  }
  
  .main__section{ 
    display: flex;
    display: inline-block;
    justify-content: center;
  
    
      width: 75%;
 
    }
    .main__fieldset{
      display: flex;
      display: inline-block;
      justify-content: center;
    }
   
    .main__responsive { 
        width: 75%;
        margin-bottom: 4rem;
        margin-left: 6rem;
     }
     .main__responsive2{
         width: 100% ;
     }

    
     
    }

    @media (max-width: 768px) {



      .header__image {
        display: flex;
        display: inline-block; 
        transform: scale(0.6);
       
     

      }

      .footer__image {
        display: flex;
        display: inline-block; 
        transform: scale(0.6);
       
     

      }
    }

    @media (max-width: 576px) {

      .header__image {


        display: flex;
        display: block; 
        transform: scale(0.4);
      }

      .header__image {


        display: flex;
        display: block; 
        transform: scale(0.4);
      }
 

     


    }