@import "./vars";

@media (min-width: 768px){ 
  
  .main{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-content: center;
    margin: 0rem;
    width: 100%;
  }
  
  .main__section{ 
    display: flex;
    display: inline-block;
    justify-content: center;
     width: 90%;
 
    }

    .main__fieldset{
      display: flex;
      display: block;
      justify-content: center;
      align-content: center;
    }
   
    .main__responsive { 
        width: 75%;
        margin-bottom: 4rem;
        margin-left: 6rem;
     }
     .main__responsive2{
         width: 100% ;
     }
     


 

    
     
    }

    @media (max-width: 768px) {



      .header__image {
        display: flex;
        display: inline-block; 
        transform: scale(0.6);
       
       
     

      }
 
       

      .footer__image {
        display: flex;
        display: inline-block; 
        transform: scale(0.6);
       
     

      }
    }

    @media (max-width: 576px) {

      .header{
        width: 100%;
      }

      .header__image {


        display: flex;
        display: block; 
        transform: scale(0.4);
      }

 
     .main__ul {
       display: block;
       justify-content:flex-start;
       list-style: none;
       padding: 0px;
       
     }
     
     


    }

    @media (max-width: 320px) {
      
      .main__ul{
        display: flex;
      
      display: inline-block;
      justify-items: flex-start;
       
       list-style: none;
       padding: 0px;
       transform: scale(0.7);
      
      }
  
      .textocarrusel{
        display: flex;
        display: inline-block;
        justify-content: center;
        align-content: center;
        margin: 1rem;
      
    }

    .textocarrusel .p{
     font-size: xx-small;
     padding: $padding-general;
     margin: $margin-general;
     line-height: 0rem;
  
    }
    .main__nav{
      overflow: hidden;
    }
     
      .header{
        width: 100%;
      }

      .footer__image{
        transform: scale(0.4);
      }
      .footer__item{
        display: block;
      }

    }

    @media (min-width: 320px) and (max-width: 1024px) {
      .imagenterapias{
        display: flex;
        display: block;
        transform: scale(1.2);
      }
        
        .main__sectioncontacto{
          display: flex;
          justify-content: center;
         
        }
      

}

    