$color-primario: #e3f2fd;
$color-secundario: rgb(218, 131, 171);
$color-terciario: rgb(182, 221, 235);


$font-texto: 'Libre Baskerville', serif ;
$font-subtitulo:'Roboto', sans-serif;
$font-titulo: 'Martel', serif; 

$margin-general: 2rem;
$margin-especifico: 1rem;
$padding-general: 2rem;
$padding-especifico: 1rem;