$color-primario: #e3f2fd;
$color-secundario: #ed97f0;
$color-terciario: #aad4df;


$font-texto: 'Libre Baskerville', serif;
$font-subtitulo:'Roboto', sans-serif;
$font-titulo: 'Martel', serif; 

$margin-general: 2rem;
$margin-especifico: 1rem;
$padding-general: 2rem;
$padding-especifico: 1rem;